<!-- start custom head snippets -->

<meta name="google-site-verification" content="D11cXunNgezNTNRv1D3TlvUV88E7HNHflHFGXaytX-o" />

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
<link rel="manifest" href="/assets/images/site.webmanifest">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

{% if page.css %}
  {% for css in page.css %}
    <link rel="stylesheet" href="{{ css | relative_url }}">
  {% endfor %}
{% endif %}

{% if page.scripts %}
  {% for script in page.scripts %}
    <script src="{{ script | relative_url }}" defer></script>
  {% endfor %}
{% endif %}

{% webmentions_head %}
<!-- end custom head snippets -->
