<div class="h-entry" style="display: none;">
  <p class="e-content">This hidden post allows for Bridgy Fed to discover my posts.</p>
  <a class="u-bridgy-fed" href="https://fed.brid.gy/" hidden="from-humans"></a>
</div>

<link rel="alternate" type="text/mf2+html" href="/feed/" />
<link rel="feed" type="text/html" href="/feed/" />

<link rel="pgpkey" type="application/pgp-keys" href="/publickey.asc">

<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">

<link rel="microsub" href="https://aperture.p3k.io/microsub/1071">
<link rel="micropub" href="https://micropub-adamsaunders.netlify.app">