---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign collections = page.collections | default: "posts" %}
{% assign all_entries = "" | split: "" %}

{% for name in collections %}
    {% assign all_entries = all_entries | concat: site[name] %}
{% endfor %}

{% assign postsByYear = all_entries | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
<section class="h-feed">
    {% for year in postsByYear %}
    <section id="{{ year.name }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ year.name }}</h2>
        <div class="entries-{{ entries_layout }}">
        {% for post in year.items %}
            {% include h-entry.html type=entries_layout %}
        {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
    {% endfor %}
</section>
